<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domain</key>
	<string>https://api.openweathermap.org/data/2.5</string>
	<key>apiKey</key>
	<string>8bc4bf0af64b06c424bcdd16216d7dcc</string>
</dict>
</plist>
